body {
	 padding: 30px;
    background-color: rgb(250, 250, 250);
}


h2{
   font-family: fangsong;
   padding: 10px;
   text-align: center; 
  

    margin: 25px 50px 15px 200px !important;
}
h1{
   font-family: fangsong;
   
   padding: 10px;
   text-align: center;
   margin: 25px 50px 15px 200px;
  

}




h2, p {
    text-align: center;
    color: rgb(50, 50, 50);
    font-family: fangsong;
    font-size 40px;

   
    margin: 25px 50px 35px 200px !important;


}

hr.underline{
    border: 3px solid rgb(50, 50, 50);
    border-radius: 2px;
    margin: 0px 50px 0px 200px;
}
 
a.table {
    border: 3px solid rgb(50, 50, 50);
    border-radius: 8px;
    padding: 10px;
    font-family: fangsong;



h3{
   	
   font-family: fangsong;
   padding: 10px;
   text-align: left;
   position: fixed; top: 0; left: 0; width: 100%;"
}